.forgot-password-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.reset-button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #f99244;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover{
    background-color: #cd6321;
}


.middle{
  display: flex;
    justify-items: center;
}